################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/

# Build artifacts
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.json

# User-specific files
*.user
*.suo

# Logs
*.log
